.example-container mat-form-field + mat-form-field {
    margin-left: 8px;
  }

  .example-section {
    margin: 12px 0;
  }
  .example-margin {
    margin: 0 12px;
  }

  //table
  .demo-table {
    width: 100%;
    

    @media (max-width: 900px) {
      overflow-y: scroll;
      display: flow-root;
      max-width: 200px;
    }
  }
  
  .mat-column-demo-position {
    width: 32px;
    border-right: 1px solid currentColor;
    padding-right: 24px;
    text-align: center;
  }
  
  .mat-column-demo-name {
    padding-left: 16px;
    font-size: 20px;
  }
  
  .mat-column-demo-weight {
    font-style: italic;
  }
  
  .mat-column-demo-symbol {
    width: 32px;
    text-align: center;
    font-weight: bold;
  }

  .example-button-container {
    display: flex;
    justify-content: center;
    width: 120px;
  }